@charset "utf-8";
/* CSS Document */


.main_form_inner {
    background: #fff;
    padding: 40px 30px;
    box-shadow: 1px 5px 11px rgba(68, 68, 68, 0.6);
    margin-top: 60px;
}

.main_form_inner .form-group .custom-select {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.inner_main_form {
    margin-top: 30px;
}

.main_form_inner h3 {
    color: #910110;
    font-weight: bold;
}

.gender_css {
    font-weight: bold;
    margin-right: 10px;
}

.checkbox-inline input {
    margin: 0 9px;
}

.btn_style_css {
    margin-top: 20px;
}

.btn_style_css .btn.btn-default {
    background: #000;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 20px;
}


.nav-item {
    padding: 0 13px;
    margin: auto;
}

.navbar-nav.mr-auto {
    margin: 0 !important;
    width: 100%;
}

.btn_list {
    text-align: center;
    list-style: none;
    margin: 0 !important;
    padding: 0;
}

.btn_list li {
    display: inline-block;
}

.button_cstm {
    background: #3B3B6D !important;
    margin: 0 10px !important;
    border-radius: 40px !important;
    padding: 0px 5px;
    text-align: center;
    border: none !important;
}

.btn.btn-primary.button_cstm.nav-link {
    color: #fff !important;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    font-weight: 600;
}

.button_cstm .nav-link {
    color: #fff !important;
}

.nav-link {
    color: #3B3B6D !important;
    font-weight: 600;
    font-size: 14px;
    margin: 0 10px;
}

.find_csst {
    font-size: 16px;
    font-weight: bold;
}

.navbar {
    padding: 10px 0 !important;
    border-bottom: 4px solid #A7101C;
}

#form_holder {
    padding: 130px 0;
}

.position_csst {
    top: 0 !important;
    padding: 80px 0 !important;
}

.position_css {
    position: relative;
    top: -80px;
}

.top_head {
    margin-top: 10px;
}

.top_head h1 {
    font-weight: bold;
    text-transform: uppercase;
}

.logo_csst {
    position: relative;
    top: -20px;
}

#brand_holder li {
    list-style: none;
    display: inline-block;
    margin-right: 200px;
    text-align: center;
    vertical-align: middle;
}

.btn_margin {
    margin-top: 50px;
}

#form_holder label {
    font-weight: bold;
    font-size: 22px;
}

#form_holder .form-control {
    padding: 15px 20px;
    border-radius: 40px 0px 0px 40px;
}

#form_holder .border_chng_css {
    border-radius: 0 40px 40px 0px !important;
}


.form-control {
	padding-right: 2.25rem;
    background-repeat: no-repeat;
    background-position: center right .5625rem;
    -webkit-background-size: 1.125rem 1.125rem;
    background-size: 1.125rem 1.125rem;
	background-image: url(../images/search.png);
}

.border_chng_css {
	background-image: url(../images/location.png);
}

.form-control {
    background-color: transparent !important;
}

.icons_sec ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.icons_sec ul li {
    display: inline-block;
    color: #fff;
    background: #3B3B6D;
    padding: 5px 20px;
    font-size: 20px;
    margin: 0 20px;
}

.icons_sec ul li a {
    color: #fff;
}

.side_bg {
    background: #FBF391;
    color: #FBF391;
    height: 100%;
}

.side_bg1 {
    background: #B50B18;
    color: #B50B18;
    height: 100%;
}

.icons_sec {
    text-align: center;
}

#social_holder {
    background: transparent;
    border-bottom: 4px solid #A7101C;
    position: relative;
    top: 130px;
}

.social_width {
    max-width: 100% !important;
    width: 100% !important;
}

.side_sec_css {
    padding: 0 !important;
}

.icons_sec {
    background: transparent;
    text-align: center;
    padding: 10px 0;
}

#footer {
    margin-top: 10px;
	text-align: center;
}

.foot_last_sec p {
    margin-bottom: 0;
}

.foot_last_sec {
    float: right;
}

.copyright_sec p {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0;
}

.form_sec_css .form-control {
    padding: 10px 20px !important;
}

#bg_color{
	background-color: #F6F7F9;
}

.navbar.navbar-expand-lg.navbar-light.bg-light {
    background: #F6F7F9 !important;
}

.form_sec_css {
    border-bottom: 4px solid #B50B19;
}

.form_sec_css #form_holder {
    padding: 30px 0;
}

.form_sec_css .btn_margin {
    margin-top: 40px;
}

.form_sec_css .col-lg-2 {
    padding: 0;
}

.form_sec_css .btn_margin a {
    font-size: 16px;
    text-align: center;
}

.icon_none {
    background: none;
        background-color: rgba(0, 0, 0, 0);
}

.form_inner_sec .btn_css {
    text-align: center;
    margin-bottom: 0;
}

.form_inner_sec .btn_css .btn {
    background: #3B3B6D;
    border: none;
    border-radius: 30px;
    padding: 10px 40px;
    font-size: 20px;
}


.form_inner_sec label {
    color: #B50B19;
    font-weight: bold;
}

.form_inner_sec .icon_none {
    border-radius: 20px;
    padding: 10px 20px;
}

.bg_all_same {
    background: #fff;
    border: 1px solid #ced4da;
    padding: 20px 110px;
    border-radius: 20px;
    margin: 40px 0;
}

.form_inner_sec h2 {
    color: #3B3B6D;
    font-weight: bold;
    margin-bottom: 20px;
}

.addrs_csst {
    list-style: none;
    padding: 0;
    margin: 4px 0;
}

.addrs_csst li {
    display: inline-block;
    margin-right: 20px;
    color: #606060;
}

.addrs_csst li span {
    margin-left: 10px;
}

.pay_css small {
    color: #606060 !important;
}

.inner_head_holder h2 {
    color: #3B3B6D;
    font-weight: bold;
    margin-bottom: 0;
    font-size: 20px;
}

.inner_head_holder small {
    color: #3B3B6D;
}

.description_page_css {
    padding: 20px 30px;
}

.button_class_css a {
    border: 2px solid #ced4da;
    padding: 10px 20px;
    border-radius: 30px;
    color: #B50B19 !important;
    text-decoration: none !important;
    font-weight: bold;
    font-size: 13px;
}

.button_class_css {
    margin-top: 10px;
}

.inner_text_holder h3 {
    font-size: 23px;
    font-weight: 600;
}

.inner_text_holder p {
    margin-bottom: 0;
}

.inner_text_holder {
    margin-top: 20px;
}

.sme_btn_class {
    text-align: right;
    margin-top: 40px;
}

.sme_btn_class a {
    background: #3B3B6D;
    color: #fff !important;
    border: none;
}

.color_chng {
    color: #B50B19 !important;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.side_one {
    padding: 0;
}

.side_one h2 {
    padding: 20px 20px;
    border-bottom: 1px solid #ced4da;
    text-align: center;
}


.side_right {
    text-align: center;
    border: 1px solid #ced4da;
    margin-bottom: 10px;
}

.check_holder {
    padding: 20px 20px;
}

.subscribe_btn {
    text-align: center;
    margin: 30px 0 30px;
}

.subscribe {
    padding: 20px 20px;
}

.listing_btn a {
    background: transparent;
    color: #3B3B6D !important;
}

.listing_btn span {
    margin-left: 5px;
}

.listing_btn {
    margin-top: 20px;
}

.listing_top_head h1 {
    color: #B50B19;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.listing_top_head h1 span {
    color: #000;
}

.listing_top_head {
    margin: 30px 0;
}

.scroll_height_css {
    max-height: 580px !important;
}

.scrol_csst {
    max-height: 580px !important;
}

.scroll_height_css1 {
    max-height: 370px !important;
}

.social_csst {
    top: 0 !important;
}

.listing_top_head h3 {
    font-size: 20px;
}


@media only screen and (max-width: 1366px) {
    .icons_sec ul li {
    margin: 0px 11px;
}
	
	.margin_left {
    margin-left: 20px;
}
	
	.button_class_css a {
    font-size: 12px;
}
}

.row.d-flex.align-items-center.p-3.my-3.text-white-50 {
    padding: 0 !important;
    margin: 0 !important;
}

#smartwizard .nav-item {
    padding: 0 !important;
    margin: 0;
}

#smartwizard .nav-item .nav-link {
    margin: 0;
}

#smartwizard .nav-link span {
    background: #3B3B6C;
    padding: 0px 6px;
    margin-right: 10px;
    color: #fff;
}

.btn-toolbar.sw-toolbar.sw-toolbar-top.justify-content-end {
    display: none;
}

.modal-header .close:not(:disabled):not(.disabled) {
    width: auto;
    margin-left: 0;
}

.modal-header #exampleModalLabel {
    margin: auto;
    color: #3B3B6D;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
}

.first_step_css {
    padding: 30px 20px;
}

.first_step_css h3 {
    font-weight: bold;
}

.first_step_css h4 {
    color: #898989;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 15px;
}

.first_step_css h3 {
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
}

.detail_sec_css p {
    text-align: center;
    border: 1px solid #D4D4D4;
    padding: 5px 0;
}

.detail_sec_css a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.detail_sec_css a:hover {
    color: #fff;
	text-decoration: none;
}

.detail_sec_css:hover {
    background: #DE3C4B;
}

.detail_sec_css span {
    border: 2px solid #000;
    padding: 0 5px;
    font-size: 11px;
    margin-left: 5px;
}

.detail_sec_css a p span {
    border: 2px solid #000;
    padding: 0 5px;
    margin-left: 5px;
    font-size: 11px;
}

.sallary_right ul {
    list-style: none;
    padding: 0;
}

.salary_sec_css {
    margin-top: 30px;
}

.sallary_right .form-control.icon_none {
    padding: 5px 8px;
}

.sallary_sec_holder .col-lg-1 {
    padding: 0;
    text-align: center;
}

.sallary_sec_holder .col-lg-3 {
    padding: 0;
}

.sallary_left {
    margin-right: 20px;
}

.modal-lg {
    max-width: 1100px !important;
}

.sallary_mrg_btm {
    margin-bottom: 20px;
}

.appl_icon i {
    font-size: 35px;
    color: #B50B18;
}

.appl_head h4 {
    font-size: 26px;
    color: #000;
    margin-bottom: 8px;
}

.top_right_icon a {
    background: #3D3D64;
    padding: 5px 10px;
    border-radius: 30px;
    color: #fff;
    font-size: 12px;
    float: right;
}

.application_Sec_hold {
    background: #F6F7F9;
    padding: 20px 10px;
    border: 1px solid #D4D4D4;
    border-radius: 5px;
    margin-top: 20px;
}

.txt {
    font-weight: bold;
    margin-top: 5px;
    font-size: 16px;
}

.app_inner_hold {
    border: 2px dotted #D4D4D4;
    background: #fff;
    padding: 20px 20px;
}

.click_sec_margin {
    margin-top: 20px;
}

.del_icon a {
    color: #898989;
    font-size: 30px;
    float: right;
}


@media only screen and (min-width: 1024px) and (max-width: 1439px) {
	.position_css {
		top: 0px;
	}
	
	#social_holder {
    	top: 0;
	}
	
	.icons_sec ul li {
    margin: 0px 5px;
}
	
	.icons_sec ul li {
    padding: 5px 15px;
}
	
	#full_body {
		padding: 40px 0 0;
	}
	
	.logo_csst img {
    width: 180px;
}
	
	#form_holder {
    padding: 170px 0;
}
	
}

@media only screen and (min-width: 1200px) and (max-width: 1439px) {
 	.logo_csst {
    	top: 80px;
	}
	
}

@media only screen and (min-width: 1440px) and (max-width: 1600px) {
	.position_css {
		top: 0;
	}
	
	#full_body {
		padding: 170px 0 0;
	}
	
	#social_holder {
    top: 0;
}
	
	.icons_sec ul li {
		padding: 5px 14px;
	}
	
	#form_holder {
    padding: 160px 0;
}
	
	.position_csst {
    top: 0 !important;
    padding: 110px 0 !important;
}
}


.align_csst label {
    float: left;
}


.align_csst {
    margin: auto;
    width: 76%;
}

.recieve_btn {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.recieve_btn li {
    display: inline-block;
}

.recieve_btn li a {
    background: #3B3B6D;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
}

.add_email a {
    color: #B50B18;
    font-weight: bold;
}

.job_app_sec {
    margin-top: 30px;
}

.job_app_sec p {
    font-weight: bold;
}

.job_app_sec .form-control {
    width: 30%;
}

.add_email span i {
    border: 1px solid;
    border-radius: 30px;
    padding: 3px 4px;
    font-size: 12px;
    margin-right: 5px;
}

.change_color a {
    background: #727270 !important;
}

.job_app_sec .margin_top {
    margin-top: 25px;
}

.cstm_height {
    max-height: 570px !important;
}

.preview_job .form-control {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    padding-left: 0;
    font-weight: bold;
}

.preview_job .form-text {
    color: #000 !important;
    font-weight: 600;
}

.company_details_sec form {
    width: 100%;
}

.company_details_sec p {
    font-weight: bold;
    margin: 0;
        margin-top: 0px;
    margin-top: 13px;
    text-transform: uppercase;
}

.company_details_sec .form-row {
    margin-bottom: 20px;
}

.final_page {
    background: #F6F7F9;
    padding: 20px 20px;
}

.border_icon i {
    border: 1px solid;
    border-radius: 30px;
    padding: 6px;
    font-size: 26px;
}

.final_page .form-check-label {
    width: 100%;
    margin-top: -37px;
}

.final_page .custom-select {
    width: 19%;
    height: 29px;
    margin: 15px 5px;
        margin-bottom: 15px;
}

.final_page .border_sec {
    border: 2px dotted #D4D4D4;
    padding: 10px 20px;
    background: #fff;
    margin-top: 20px;
    width: 80%;
}

.margin_csst {
    margin-top: 20px;
}

.final_right_txt h3 {
    text-align: center;
}

.final_right_txt small {
    float: right;
}

.margin_right_css {
    padding: 0 0 0 10px !important;
}

.padding-none {
    padding: 0 0 0 15px !important;
}

.benifit_last_sec a {
    color: #000;
    font-weight: bold;
	text-transform: uppercase;
}

.benifit_last_sec a span {
    color: #B50B18;
}

.benifit_last_sec {
    margin-top: 10px;
    width: 100%;
}

.benifit_last_sec p {
    border-bottom: 2px dotted #000;
}

.color_red {
    color: #B50B19 !important;
}

.text_align_sec {
    text-align: center;
}

.text_order_cstm {
    margin-bottom: 0 !important;
    margin: auto;
    width: 40%;
    text-transform: uppercase;
}

.text_align_sec {
    text-align: center;
    margin-top: -2px;
}

.choose_sec_css .color_red {
    text-transform: uppercase;
    padding: 0 !important;
    margin: 20px 0 0px !important;
}

.padding-none {
    padding: 0 0px 0 15px;
}

.premium_choose {
    margin-top: 35px;
}

.final_right_txt {
    margin-top: 20px;
}

.text_order_cstm {
    position: relative;
    right: 10px;
}